.heroBackground {
  position: relative;
  overflow: hidden;
}

@keyframes float {

  0%,
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.3;
  }

  50% {
    transform: translate(30px, -30px) scale(1.1);
    opacity: 0.5;
  }
}

.content {
  position: relative;
  z-index: 1;
}

.heroBackground {
  background: url('../../../../public/assets/images/hero.webp') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 11rem;
}

section.bottomZero {
  padding-bottom: 0rem !important;
}