.ctaBanner {
  position: relative;
  display: flex;
  align-items: center;
  background: url('../../../../public/assets/images/cta-banner.webp') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .ctaBanner {
    min-height: 10rem;
  }
}

